*.class
/docs
/.metadata
/gap-mz-clone
/py-gap-mz-clone
/gap-ref-test-all
/RemoteSystemsTempFiles

/gap-mz-clone/gwt-unitCache
/gap-mzo-clone/.gwt/*.gwt-log
/gap-mz-clone/.settings
/gap-ref-test-all/gwt-unitCache
/gap-ref-test-all/.gwt/*.gwt-log
/gap-ref-test-all/.settings

/gap-mz-clone/war/WEB-INF/appengine-generated/datastore-indexes-auto.xml
/gap-mz-clone/war/WEB-INF/appengine-generated/local_db.bin
/gap-mz-clone/war/WEB-INF/deploy/google_app_engine_test/rpcPolicyManifest/manifest.txt

